@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #FFF;
}
/* CSS Document */

#wrapper {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px;
	background-color: #FFF;
	box-shadow: 0px 0px 5px 1px #369;
}
header {
	background-color: #FFF;
	height: 180px;
	width: 97%;
	padding-top: 20px;
	padding-left: 3%;
}
#headerlogo {
	background-image: url(../images/icelab_logo.png);
	height: 150px;
	width: 150px;
	/* [disabled]margin-top: 30px; */
	/* [disabled]margin-left: 10px; */
}
